@import "mixins/media-breakpoints"
@import "vars"



/*==========  Desktop First  ==========*/

/* <1200px (960px) */
+media-breakpoint-down(lg)
  .mobile__content
    width: 565px

  .postsSlider .slick-dots
    top: 145px
    left: 80px

  .footerTop__widget
    justify-content: space-around
  
/* <992px (720px) */
+media-breakpoint-down(md)
  .projectType
    margin-bottom: 20px

  .projects__contentWrap,
  .posts__text
    width: auto

  .mobile__content-wrap
    background: none
  .mobile__content
    width: auto
    float: auto

  
  .postsSlider .slick-dots
    top: 165px
    left: 100px


/* <768px (540px) */
+media-breakpoint-down(sm)
  .header 
    padding-bottom: 100px
  .nav__list 
    display: none
  .nav__switch
    display: block

  .logo 
    width: auto
    text-align: center
  .logo__text
    display: none

  .cart
    display: none

  .search
    float: right

  .enterForm
    width: auto
    margin: 0 -15px
    margin-top: 80px
    padding: 20px
    padding-top: 40px
  
  .enterForm__accept-label
    margin-bottom: 40px

  .projects__contentWrap
    margin-top: 80px

  .sort__btn
    margin-bottom: 10px

  .projectItem
    margin: 0px -15px 30px -15px 

  .mobile__content-wrap
    padding: 80px 0px
  .mobile__list
    margin-left: 0
  .mobile__item
    padding-left: 40px

  .posts 
    padding-bottom: 65px
  .postsSlider
    .slick-prev,
    .slick-next
      bottom: -10px
  
  .footerTop
    padding: 40px 0
  .footerTop__head
    margin: 30px 0 0 0

  .footerBottom__first,
  .footerBottom__second 
    float: none
    text-align: center

  

/* <576px (auto) */
+media-breakpoint-down(xs)
 


/*==========  Mobile First  ==========*/

/* ≥576px (540px) */
+media-breakpoint-up(sm)
  
/* ≥768px (720px) */
+media-breakpoint-up(md)

/* ≥992px (960px) */
+media-breakpoint-up(lg)

/* ≥1200px (1140px) */
+media-breakpoint-up(xl)