@import "mixins/media-breakpoints"
@import "vars"



/*==========  Desktop First  ==========*/

/* <1200px (960px) */
+media-breakpoint-down(lg)
  
/* <992px (720px) */
+media-breakpoint-down(md)

/* <768px (540px) */
+media-breakpoint-down(sm)
  .header 
    padding-bottom: 100px
  .nav__list 
    display: none
  .nav__switch
    display: block

  .logo 
    width: auto
    text-align: center
  .logo__text
    display: none

  .cart
    display: none

  .search
    float: right

  .enterForm
    width: auto
    margin: 0 -15px
    margin-top: 80px
    padding: 20px
    padding-top: 40px
  
  .enterForm__accept-label
    margin-bottom: 40px
  

/* <576px (auto) */
+media-breakpoint-down(xs)
 


/*==========  Mobile First  ==========*/

/* ≥576px (540px) */
+media-breakpoint-up(sm)
  
/* ≥768px (720px) */
+media-breakpoint-up(md)

/* ≥992px (960px) */
+media-breakpoint-up(lg)

/* ≥1200px (1140px) */
+media-breakpoint-up(xl)